<!DOCTYPE html>
<html lang="en">
<head>
    <title>Timestamp Analysis</title>
</head>
<body>
    <h1>Timestamp Analysis</h1>

    <h2>Frequency plot</h2>
    <h3>Daily</h3>
    {{ date_line_html }}
    <h3>Monthly</h3>
    {{ month_line_html }}
    <h3>Yearly</h3>
    {{ year_line_html }}
</body>
</html>