<!DOCTYPE html>
<html lang="en">
<head>
    <title>Timestamp Analysis</title>
</head>
<body>
    <h1>Timestamp Analysis</h1>

    <h2>Frequency plot</h2>
    {{ date_line_html }}
    {{ month_line_html }}
</body>
</html>